<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.shredzone.acme4j" level="INFO">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.jose4j" level="INFO"/>

</configuration>
